.detail {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 8px;
  font-size: 13px; }
  .detail .information .display span {
    font-size: 16px; }
  .detail .information .display .locate {
    display: flex;
    justify-content: center;
    align-items: stretch; }
    .detail .information .display .locate .box, .detail .information .display .locate .dash, .detail .information .display .locate .score {
      margin: 8px;
      padding: 8px;
      background: #f7f7f7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .detail .information .display .locate .label {
      font-size: 13px;
      color: #888;
      font-weight: 200;
      font-family: "source-han-sans-japanese", sans-serif; }
    .detail .information .display .locate .box-locate {
      font-size: 13px;
      color: #333;
      font-weight: 200;
      font-family: "source-han-sans-japanese", sans-serif; }
    .detail .information .display .locate .box-label {
      display: block;
      font-size: 56px;
      text-align: center; }
    .detail .information .display .locate .dash {
      display: block;
      margin: 0 4px;
      font-size: 52px; }
    .detail .information .display .locate .score-number {
      display: block;
      font-size: 56px;
      text-align: center; }
  .detail .information .display .no-data {
    color: #ccc; }
  .detail .button {
    margin: 48px 8px; }
    .detail .button button.suggest {
      background: #b80006;
      color: #fff; }
      .detail .button button.suggest:hover {
        background: #990005;
        color: #fff; }
      .detail .button button.suggest:active {
        background: #990005;
        color: #fff; }
  .detail .links {
    margin: 48px 8px; }
    .detail .links a {
      display: block;
      width: calc(100% - 20px);
      margin: 0;
      padding: 0 10px;
      border: 0;
      line-height: 44px;
      background: #eee;
      color: #333;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all ease-in-out .1s; }
      .detail .links a:hover {
        background: #b80006;
        color: #fff;
        transition: all ease-in-out 0s; }
      .detail .links a:active {
        background: #990005;
        color: #fff;
        transition: all ease-in-out .1s; }
      .detail .links a i {
        margin-right: .2em;
        color: #555;
        transition: all ease-in-out .1s; }
      .detail .links a:hover i {
        color: #fff;
        transition: all ease-in-out 0s; }
