.edit {
  width: 100%;
  max-width: 600px;
  margin: 8px auto;
  font-size: 13px; }
  .edit .score-number {
    display: block;
    font-size: 30px; }
  .edit .button p {
    margin: 0 0 2px; }
  .edit .button input[type="checkbox"] {
    display: none; }
    .edit .button input[type="checkbox"] + label {
      display: block;
      margin: 0 0 8px;
      padding: 10px 0px;
      background: #ddd;
      color: #333;
      font-size: 13px;
      text-align: center;
      line-height: 1;
      flex-grow: 1;
      transition: .1s;
      cursor: pointer;
      transition: all ease-in-out .1s; }
      .edit .button input[type="checkbox"] + label:hover {
        background: #b80006;
        color: #fff;
        transition: all ease-in-out 0s; }
    .edit .button input[type="checkbox"]:checked + label {
      background-color: #B60005;
      color: #fff; }
