.setting-license {

  .app-version {
    margin: 16px 0;
    padding: 0 8px;

    display: flex;
    align-items: center;

    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eee;
      border-radius: 5px;

      svg {
        width: 60px;
        height: 60px;
        padding: 4px;
        fill: #B60005;
      }
    }

    & > div:last-child {
      margin-left: 16px;
      border: 0;
      flex: 2;

      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;

      span {
        font-family: "source-han-sans-japanese", sans-serif;
      }

      & > div > span:first-child {
        font-size: 16px;
      }

      & > div > span:last-child {

        & > span:first-child {
          margin: 0 4px 0 0;
          font-size: 12px;
        }
        & > span:last-child {
          font-size: 13px;
        }
      }
    }

    // }

      // &:nth-child(2) {
      //   margin: 0 8px;
      //   padding: 4px 8px;
      //   border-radius: 2px;
      //   background: #eee;
      //   font-size: 16px;
      // }

      // &:nth-child(3) {
      //   margin: 0 4px 0 8px;
      //   font-size: 12px;
      // }

      // &:last-child {
      //   font-size: 13px;
      // }

  }

  .version {
    margin: 16px 0;
    padding: 0 8px;
    font-size: 13px;
    text-align: left;

    h2 {
      margin: 18px 0 6px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
      // font-style: italic;
    }

    p {
      margin: 0 0 4px;
      padding: 0;
      color: #333;
      font-family: "source-han-sans-japanese", sans-serif;

      display: flex;
      align-items: center;

      i {
        width: 24px;
        margin-right: .2em;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
      }

      i.fa-react {
        background: #20232a;
        color: #61dafb;
      }

      i.fa-node-js {
        background: #333;
        color: #669f64;
      }

      span {
        display: inline-block;
      }
      span:first-child {
        margin: 0 4px 0 0;
        padding: 4px 8px;
        border-radius: 4px;
        background: #61dafb;
        color: #000;
        font-size: 13px;
      }
      span:nth-child(2) {
        margin: 0 2px 0 4px;
        padding: 4px 0;
        color: #ccc;
        font-size: 10px;
      }
      span:last-child {
        margin: 0 0 0 2px;
        padding: 4px 0;
        color: #ccc;
        font-size: 11px;
      }
      span.react {
        background: #259dff;
        color: #fff;
      }
      span.react-router {
        background: #e94949;
        color: #fff;
      }
      span.nodejs {
        // background: #026e00;
        background: #318435;
        // background: #8CC84B;
        color: #fff;
      }
      span.flux {
        background: #318435;
        color: #fff;
      }
      span.express {
        background: #259dff;
        color: #fff;
      }
    }
  }

  .footer {
    text-align: center;

    span {
      display: inline-block;
      margin: 32px auto;
      color: #333;
      font-size: 13px;

      &.name {
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      }
    }
  }
}