.setting-list {

  .link-frame {
    width: 100%;
    // max-width: 400px;
    margin: 0 auto 16px;

    label {
      display: block;
      padding: 16px 0 8px 16px;
      color: #888;
      font-weight: 600;
    }

    .links {
      margin: 0 0 16px 0;
      border-top: 1px solid #ccc;

      a {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        background: white;
        color: hsl(0,0,30);
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &:hover {
          background: #eee;
          color: hsl(0,0,40)
        }
        &:active {
          color: hsl(0,0,20)
        }

        span {
          display: inline-block;

          &:first-child {
            padding-left: 16px;
            font-size: 1em;
          }

          &:nth-child(2) {
            margin-left: auto;
            padding-right: 8px;
            color: #888;
            text-align: right;
            font-size: .8em;
          }

          &:last-child {
            padding-right: 12px;
            color: #888;
            text-align: right;
            font-size: 1.2em;
          }
        }
      }

      button {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        margin: 0 auto 32px;
        padding: 0;
        border: 0;
        border-bottom: 1px solid #ccc;
        background: white;
        color: red;
        line-height: 44px;
        font-family: Meiryo, メイリオ, "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", "MS PGothic", "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: all ease-in-out .1s;

        &:hover {
          font-weight: 600;
          transition: all ease-in-out 0s;
        }
      }
    }
  }
}