.send-mail .count {
  margin: 16px 0;
  padding: 0 8px;
  font-size: 13px;
  text-align: left; }
  .send-mail .count p {
    margin: 0;
    padding: 0;
    color: #333; }
    .send-mail .count p span {
      display: inline-block;
      padding: 0 4px;
      background: #eee;
      font-size: 16px; }

.send-mail .address {
  margin: 16px 0;
  padding: 0; }
  .send-mail .address p {
    padding: 16px 8px;
    background: #eee;
    font-size: 14px; }
