.setting {
  margin: 16px 0 0 0;
  font-size: 13px;

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    label {
      margin: 8px 0 0 0;
      color: #888;
      font-size: .8em;
    }

    input {
      -webkit-appearance: none;
      display: block;
      width: calc(100% - 8px - 2px);
      margin: 0;
      padding: 6px 4px;
      border: 1px solid rgba(204,204,204,1);
      border-radius: 0;
      color: #333;
      font-family: "source-han-sans-japanese", sans-serif;
      font-size: 13px;
    }

    div {
      width: 100%;
      margin: 8px 0;
      text-align: right;

      button {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        margin: 16px 0;
        padding: 0 24px;
        border: 0;
        line-height: 44px;
        font-size: 13px;
        font-family: Meiryo, メイリオ, "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", "MS PGothic", "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif;
        // font-weight: 600;
        cursor: pointer;
        transition: all ease-in-out .1s;

        &.save {
          background: hsl(358,100,36%);
          color: white;
          font-weight: 600;

          &:hover {
            background: hsl(358,100,30%);
            transition: all ease-in-out 0s;
          }
          &:active {
            background: hsl(358,100,30%);
          }
          &[disabled] {
            background: hsl(0,0,80);
          }
        }

        &.cancel {
          background: hsl(0,0,80);
          color: #333;

          &:hover {
            background: hsl(0,0,90);
            transition: all ease-in-out 0s;
          }
          &:active {
            background: hsl(0,0,70);
          }
        }
      }
    }
  }
}