@charset "UTF-8";
.member-menu .header {
  position: fixed;
  height: 44px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }
  .member-menu .header.no-border {
    border: 0; }
  .member-menu .header .title {
    width: 80%;
    overflow: hidden; }
    .member-menu .header .title p {
      margin: 0;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.member-menu .label {
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  color: #488aff;
  z-index: 11;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .member-menu .label.back {
    left: 8px;
    width: auto; }
    .member-menu .label.back a {
      color: #488aff;
      text-decoration: none;
      display: flex;
      align-items: center; }
      .member-menu .label.back a i {
        margin-right: .1em;
        font-size: 1.6em; }

.member-menu .menu-background {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out; }
  .member-menu .menu-background.open {
    display: block;
    /*カバーを表示*/
    opacity: .35;
    animation: menu-background-show .3s ease-in-out 0s; }

@keyframes menu-background-show {
  from {
    opacity: 0; }
  to {
    opacity: .35; } }

.member-menu .menu-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background: #fff;
  transition: transform .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  -webkit-overflow-scrolling: touch; }
  .member-menu .menu-content.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); }
  .member-menu .menu-content .account-info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: calc(100% - 8px);
    padding: 4px;
    background: #fff;
    display: flex;
    align-items: center; }
    .member-menu .menu-content .account-info img {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%; }
    .member-menu .menu-content .account-info span {
      display: block;
      margin-left: 8px;
      color: #333;
      font-size: 20px;
      font-family: "ten-mincho",serif; }
  .member-menu .menu-content ol {
    margin: 6px 0;
    padding: 0;
    list-style: none;
    line-height: 48px; }
    .member-menu .menu-content ol a {
      color: #333;
      text-decoration: none; }
      .member-menu .menu-content ol a:hover {
        background: #ccc; }
      .member-menu .menu-content ol a:active {
        background: #ccc; }
      .member-menu .menu-content ol a div {
        padding: 0 0 0 8px; }
        .member-menu .menu-content ol a div i {
          display: inline-block;
          width: 2em;
          color: #666;
          font-size: 1.2em;
          text-align: center; }
    .member-menu .menu-content ol .logout {
      padding: 0;
      color: #333;
      text-decoration: none;
      cursor: pointer; }
      .member-menu .menu-content ol .logout:active {
        background: #eee; }
      .member-menu .menu-content ol .logout div {
        padding: 0 0 0 8px; }
        .member-menu .menu-content ol .logout div i {
          display: inline-block;
          width: 2em;
          color: #666;
          font-size: 1.2em;
          text-align: center; }
    .member-menu .menu-content ol .active {
      background: #eee; }
      .member-menu .menu-content ol .active a:hover {
        background: #ccc; }
      .member-menu .menu-content ol .active a:active {
        background: #ccc; }
