.setting-admin {
  width: 95%;
  max-width: 400px;
  margin: 0 auto; }
  .setting-admin .status {
    margin: 48px 0;
    font-size: 14px;
    text-align: center; }
    .setting-admin .status p {
      margin: 0; }
  .setting-admin button {
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin: 0;
    background: #ddd;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out .1s; }
    .setting-admin button i {
      font-size: 24px; }
    .setting-admin button:hover {
      background: #b80006;
      color: #fff;
      transition: all ease-in-out 0s; }
    .setting-admin button:active {
      background: #990005;
      color: #fff;
      transition: all ease-in-out .1s; }
    .setting-admin button[disabled] {
      color: #888; }
      .setting-admin button[disabled]:hover {
        background: #ddd;
        color: #888; }
      .setting-admin button[disabled]:active {
        background: #ddd;
        color: #888; }
